<%= quick_form url: notes_url, method: "post" do %>
  <input type="hidden" name="note[track_id]" value="<%= track.id %>">
  <div class="form-group">
    <label>New Note</label>
    <textarea name="note[body]" rows="4" cols="40" class="form-control"></textarea>
  </div>
<% end %>
