<%= quick_form action: "New Note", url: notes_url, method: "post" do %>
  <input type="hidden" name="note[track_id]" value="<%= track.id %>">
  <label>
    Note:
    <textarea name="note[body]" rows="8" cols="40"></textarea>
  </label>
<% end %>
