<%= quick_form action: "New Band", url: url, method: method do %>
<div class="form-group">
  <label>
    Name
    <input type="text" name="band[name]" value="<%= band.name %>" class="form-control">
  </label>
</div>
<% end %>
